*{
  margin: 0 auto;
  padding: 0;
}
.flexbox{
  width: 1200px;
  display: flex;
  flex-wrap:wrap;
}

.flexbox_min{
  width: 80%;
  display: flex;
  flex-wrap:wrap;
}

.itembox{
  padding: 20px 2%;
}
.ProfileName{
  text-align: center;
  font-size: 30px;
}
.icon{
  padding-top: 10px;
  width: 140px;
  border-radius: 50%;
}

.SecTitle{
  text-align: center;
}